html, body, .container-table {
    height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 60px 0;
}

/*------------------ top nav bar style ---------------------------*/
.navbar-inverse {
    top: 3px;
    background-color: #e8912e;
    border-color: #e8912e;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 24px;
}

#nav-icons {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 100px;
    height: 55px;
    /* background-color: #e0e0e0; */
}

#nav-icons > div {
    /* display: inline-block; */
    float: right;
    width: 50px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    font-size: 30px;
}

.stud-top-line {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    z-index: 999;
    background-color: #e8912e;

    background-image: url("../images/studtop.png");
    background-repeat: repeat-x;
}
/*------------------------ end -----------------------------*/


/*----------------- container style -----------------------*/
/*
.container {
    width: 80%;
}*/

.container-table {
    height: 100%;
    display: table;
    /*background-color: #987654;*/
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    /*background-color: #123456;*/
    padding: 20px;
}

div.map-wrapper, div.convert-btn-wrapper {
    /*background-color: #123456;*/
    height: 650px;
}

div.map-wrapper {
    max-width: 650px;
}

div.map-wrapper > div.top-wrapper {
    width: 100%;
    height: 90%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #efefef;
}

div.map-wrapper > div.background-wrapper {
    background-color: #efefef;
    left: 0;
    top: 0;
    position: absolute;
}

div.map-wrapper > div.bottom-wrapper {
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #ffffff;
}

div.convert-btn-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}

div.convert-btn {
    width:90%;
    height:40px; 
    line-height: 40px;
    font-size: 22px;
    border-style: solid;
    border-width: 1px;
    color: #e8912e;
    border-color: #e8912e;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #e9e9e9;
    color: #909090;
    font-size: 12px;
    line-height: 30px;
}

.footer i {
    margin-left: 10px;
}

@media (min-width: 1600px) { 
    .container {
        width: 80%;
    }

    div.map-wrapper, div.convert-btn-wrapper {
        height: 650px;
    }
}

@media (max-width: 1600px ) { 
    .container {
        width: 90%;
    }

    div.map-wrapper, div.convert-btn-wrapper {
        height: 550px;
    }
}

@media (max-width: 1280px ) { 
    div.map-wrapper, div.convert-btn-wrapper {
        height: 500px;
    }
}

@media (max-width: 992px) {

    html, body, .container-table {
        height: unset;
    }

    .container-table {
        display: 100%;
    }

    .vertical-center-row {
        display: unset;
        vertical-align: unset;
    }

    div.convert-btn-wrapper {
        height: 80px;
    }

    .container {
        width: 70%;
    }

    div.map-wrapper {
        height: 450px;
    }

    div.map-wrapper > div.top-wrapper {
        height: 100%;
        max-width: unset;
    }

    div.map-wrapper > div.bottom-wrapper {
        height: 15%;
    }

    div.convert-btn {
        width: 120px;
        height: 40px; 
    }
}

@media (max-width: 576px) {

    .container {
        width: 100%;
    }

    div.map-wrapper {
        height: 300px;
    }
}

/*@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}*/

/*------------------------ end -----------------------------*/

.bottom-wrapper > div {
    float: left;
}

.bottom-wrapper > div.divider {
    width: 10px;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bottom-wrapper > div.divider > div {
    width: 1px;
    height: 70%;
    background-color: #e9e9e9;
}

.buttons-wrapper {
    /*position: absolute;*/
    top: 0;
    height: 100%;
    min-width: 60px;
}

.buttons-wrapper.right {
    right: 0;
    position: absolute;
}

.buttons-wrapper > div {
    display: inline-flex;
    justify-content:center;
    align-items:center;
    min-width: 50px;
    height: 100%;
    color: #e8912e;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.buttons-wrapper > div.btn-with-underline {
    min-width: 70px;
}

.buttons-wrapper > div.btn-with-underline.active > i { 
    border-bottom: solid 2px #e8912e;
    display: inline;
    padding-bottom: 2px;
}

.buttons-wrapper > div.icon {
    font-size: 30px;
}

.buttons-wrapper > div.change-map-size-icon.active { 
    border-bottom: solid 2px #e8912e;
    /*display: inline;*/
    /*padding-bottom: 2px;*/
}

#mapDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#canvasDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.esri-attribution {
    display: none;
}

#legoIcon {
    top:0;
    left: 0;
    position: absolute;
}

.change-map-size-icon {
    background-position: center center;
    background-repeat: no-repeat;
}

#sqrMapBtn {
    background-image: url(../images/Shape_Icons/Shape_Square.png);
    background-size: 30px auto;
}

#hRectMapBtn {
    background-image: url(../images/Shape_Icons/Shape_Landscape.png);
    background-size: 40px auto;
}

#vRectMapBtn {
    background-image: url(../images/Shape_Icons/Shape_Portrait.png);
    background-size: 20px auto;
}